.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-left: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-image: url(../../../images/edit.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: auto;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1055px) {
  .profile__edit-button{
    margin-left: 1px;
    width: 16px;
    height: 16px;
    background-size: 7.5px 7.5px;
  }
  
}