
.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #000000;
  padding-left: 199px;
  padding-right: 199px;
  color: #ffffff;
  font-family: Inter, 'Arial', sans-serif;
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 100px;
    padding-right: 100px;
  }
  
}

@media screen and (max-width: 600px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}