.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  
  margin: 0 auto;
  top: 195px;
  right: 0;
  
  left: 0;
  
  max-width: 430px;
  max-height: 330px;
  background-color: #ffffff;
  
 
  
  z-index: 1;
  color: #000000;
  padding: 36px;
  border-radius: 10px;
}


@media screen and (max-width: 1024px){
  .popup__container {
    
    }
}



