.popup__close-icon {
  width: 40.7px;
  height: 40.7px;
  background: none;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40.7px;
  right: -40.7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: .6;
  transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
  .popup__close-icon {
    right: 0;
    top: -53.62px
  }
}