.element__like-button {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20.76px;
  height: 18.13px;
  background-color: transparent;
  border: none;
  margin-right: 21px;
  cursor: pointer;
}